name: Rust CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    name: test ${{ matrix.rust }}
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        rust:
          - 1.89
          - stable
          - nightly
    steps:
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@master
        with:
          toolchain: ${{ matrix.rust }}
          components: rustfmt, clippy
      - uses: Swatinem/rust-cache@v2
      - uses: taiki-e/install-action@cargo-audit
      - name: Check 
        run: | 
          cargo check 
      - name: Check tokio-console feature flag
        run: | 
          cargo check --features tokio-console
      - name: Check seed-db feature flag
        run: | 
          cargo check --features seed-db
      - name: Check hotpath feature flag
        run: | 
          cargo check --features hotpath
      - name: Check tui feature flag
        run: | 
          cargo check --features tui
      - name: Fmt
        if: matrix.rust == 'stable'
        run: |
          cargo fmt --all --check
      - name: Lint
        if: matrix.rust == 'stable'
        run: |
          cargo clippy --all --all-features -- -D warnings
      - name: Audit
        if: matrix.rust == 'stable'
        run: |
          cargo audit --ignore RUSTSEC-2023-0071 --ignore RUSTSEC-2025-0055
      - name: Run tests
        run: | 
          cargo test --lib -- --nocapture
