name: Rust CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    name: test ${{ matrix.rust }} 
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
    steps:
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@stable
      - name: Set up Rust
        run: | 
          rustup update stable
          rustup default stable
          rustup component add rustfmt
          rustup component add clippy
      - uses: Swatinem/rust-cache@v2
      - name: Check 
        run: | 
          cargo check 
      - name: Check tokio-console feature flag
        run: | 
          cargo check --features tokio-console
      - name: Check seed-db feature flag
        run: | 
          cargo check --features seed-db
      - name: Fmt 
        run: |
          cargo fmt --all --check
      - name: Lint 
        run: |
          cargo clippy --all --all-features -- -D warnings
      - name: Run tests 
        run: | 
          cargo test --lib -- --nocapture
